<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    {% if user.is_author %}
        <span style="color: rgb(13, 100, 5);">add</span>
    {% endif %}
    <ul>
        {% for quiz in all_quiz %}
            <a href="{% url 'quiz:detail' quiz.id %}"><li><h3 style="color: #721508;">{{quiz}}</h3></li></a>
                <ul>
                <a href="#"><li>{{quiz.op1}}</li></a>
                <a href="#"><li>{{quiz.op2}}</li></a>
                <a href="#"><li>{{quiz.op3}}</li></a>
                <a href="#"><li>{{quiz.op4}}</li></a>
                </ul>
                <br>
                {% for cat in quiz.Category.all %}
                    <span style="font-size:smaller">{{cat}} </span>
                {% endfor %}
            <hr>
        {% endfor %}
        
        <br>
    </ul>
</body>
</html>